.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 2s;
}

.ex-1-square:hover{
    background-color: red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}
.ex-2-square:active{
    width: 100%;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 0.5s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 1s;
}

.ex-4-square:hover{
    background-color: white;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 1s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
    margin: 0;
}
.ex-5-square:active{
    width: 20px;
    height: 20px;
    margin:40px;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img{
    transition: 2s;
}
.ex-7-img:hover{
    filter: grayscale(100%) sepia(50%);
}

.ex-8-img{
    transition: 2s;
}
.ex-8-img:hover{
    filter: grayscale(60%) sepia(50%);
    border-radius: 20px;
}
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 2s;
}

.ex-9-img:hover{
    filter: grayscale(60%) sepia(50%);
    border-radius: 20px;
    margin: 0;
    width: 550px;
}

@keyframes rotate{
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.ex-10-icon {
    font-size: 60px;
    animation: rotate 1s linear infinite;
}

@keyframes rotate-2{
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(320deg);
    }
    0% {
        transform: rotate(0deg);
    }
}

.ex-11-icon{
    font-size: 60px;
}

.ex-11-icon:hover{
    animation: rotate-2 2s linear;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    transition: 1s;
}

@keyframes ex12-top {
    0%{
        left: 10%;
    }
    50%{
        left: 60%;
    }
    0%{
        left: 10%;
    }
}
@keyframes ex12-bottom {
    0%{
        right: 20%;
    }
    50%{
        right: 60%;
    }
    0%{
        right: 20%;
    }
}
.ex-12-button:hover .ex-12-top-white{
    animation: ex12-top 1s linear;
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: ex12-bottom 1s linear;
}

@keyframes ex13-top{
    0%{
        left: 10%;
    }
    20%{
        left: 80%;
        top:-10px;
    }
    40%{
        left:80%;
        top: 60px;
    }
    60%{
        left:-10%;
        top:60px;
    }
    80%{
        left:-10%;
        top:-10px;
    }
    100%{
        left:10%;
        top:-10px;
    }
}

@keyframes ex13-bottom{
    0%{
        right: 20%;
    }
    20%{
        right: 80%;
        bottom:-10px;
    }
    40%{
        right:80%;
        bottom: 60px;
    }
    60%{
        right:-10%;
        bottom:60px;
    }
    80%{
        right:-10%;
        bottom:-10px;
    }
    100%{
        right:20%;
        bottom:-10px;
    }
}
.ex-13-button:hover .ex-13-top-white{
    animation: ex13-top 3s linear;
}
.ex-13-button:hover .ex-13-bottom-white{
    animation: ex13-bottom 3s linear;
}